.about {
    padding: 30px;
    padding-top: 100px;
    margin-left: 5vw;
    margin-bottom: 50px;
    /* margin-right: auto; */
}

.about > h1 {
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 0px;
}

.about > p {
    max-width: 30vw;
    font-weight: 600;
    margin-top: 20px;
}

@media screen and (max-width: 560px) {
    .about > h1 {
        font-size: 32px;
    }

    .about > p {
        max-width: 90vw;
    }
}