.portfolio_option {
    display: flex;
    align-items: center;
    flex-direction: column;

}



.portfolio_option > img {
    width: 250px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: -10px 5px 10px -9px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 560px) {
 
}